<!-- 
<div >
    <label  >nom</label>
    <input type="text"  [(ngModel)]="societe.email"  >
 
  </div>
  <div >
      <label  >password</label>
      <input type="text"  [(ngModel)]="societe.password"  >
   
    </div>
<div >
    <label  >telephone</label>
    <input type="text"  [(ngModel)]="societe.telephone"  >
 
  </div>
<div >
    <label  >fax</label>
    <input type="text"  [(ngModel)]="societe.fax"  >
 
  </div>
<div >
    <label  >logo</label>
    <input type="text"  [(ngModel)]="societe.logo"  >
 
  </div>
<div >
    <label  >adresse</label>
    <input type="text"  [(ngModel)]="societe.adresse"  >
 
  </div>
<div >
    <label  >nom_employeur</label>
    <input type="text"  [(ngModel)]="societe.nom_employeur"  >
 
  </div>
<div >
    <label  >prenom_employeur</label>
    <input type="text"  [(ngModel)]="societe.prenom_employeur"  >
 
  </div>
<div >
    <label  >temps_ouverture</label>
    <input type="time"  [(ngModel)]="societe.temps_ouverture"  >
 
  </div>
<div >
    <label  >temps_fermeture</label>
    <input type="time"  [(ngModel)]="societe.temps_fermeture"  >
 
  </div>
<div >
    <label  >nom_societe</label>
    <input type="text"  [(ngModel)]="societe.nom_societe"  >
 
  </div>
<div >
    <label  >jour_travail</label>
    <input type="text"  [(ngModel)]="societe.jour_travail"  >
 
  </div>
<div >
    <label  >matricule_fiscale</label>
    <input type="text"  [(ngModel)]="societe.matricule_fiscale"  >
 
  </div>


 
  <button class="btn btn-warning" [routerLink]="['/employeur/listClient']">Préc</button>
  <button type="button" class="btn btn-primary" (click)="updateSocieteController()">Submit</button> -->




  <div class="row">
    <div class="col">
      <div class="container">
        <div class="container">
          <div class="card" style="width: 30%  ; height: 10%; margin-left: 30%; ">
            <h5 class="card-title" style="margin-left: 2%;">Update Compte Societe :</h5>
            <div class="card-body" style="width: 90%;margin-left: 5%; margin-top: 2%;">
              <div class="row">
                <div >
                  <label  >nom</label>
                  <br>
                  <input type="text"  [(ngModel)]="societe.email"  >
               
                </div>
                <div >
                    <label  >password</label>
                    <input type="text"  [(ngModel)]="societe.password"  >
                 
                  </div>
              <div >
                  <label  >telephone</label>
                  <input type="text"  [(ngModel)]="societe.telephone"  >
               
                </div>
              <div >
                  <label  >fax</label>
                  <br>
                  <input type="text"  [(ngModel)]="societe.fax"  >
               
                </div>
              <div >
                  <label  >logo</label>
                  <br>
                  <input type="text"  [(ngModel)]="societe.logo"  >
               
                </div>
              <div >
                  <label  >adresse</label>
                  <input type="text"  [(ngModel)]="societe.adresse"  >
               
                </div>
              <div >
                  <label  >nom_employeur</label>
                  <input type="text"  [(ngModel)]="societe.nom_employeur"  >
               
                </div>
              <div >
                  <label  >prenom_employeur</label>
                  <input type="text"  [(ngModel)]="societe.prenom_employeur"  >
               
                </div>
              <div >
                  <label  >temps_ouverture</label>
                  <input type="time"  [(ngModel)]="societe.temps_ouverture"  >
               
                </div>
              <div >
                  <label  >temps_fermeture</label>
                  <input type="time"  [(ngModel)]="societe.temps_fermeture"  >
               
                </div>
              <div >
                  <label  >nom_societe</label>
                  <input type="text"  [(ngModel)]="societe.nom_societe"  >
               
                </div>
              <div >
                  <label  >jour_travail</label>
                  <input type="text"  [(ngModel)]="societe.jour_travail"  >
               
                </div>
              <div >
                  <label  >matricule_fiscale</label>
                  <input type="text"  [(ngModel)]="societe.matricule_fiscale"  >
               
                </div>
                <button class="btn btn-warning" [routerLink]="['/employeur/listClient']">Préc</button>
                <button type="button" class="btn btn-primary" (click)="updateSocieteController()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>