<!-- 
<div >
    <label  >nom</label>
    <input type="text"  [(ngModel)]="clients.nom"  >
 
  </div>
<div >
    <label  >telephone</label>
    <input type="text"  [(ngModel)]="clients.telephone"  >
 
  </div>
<div >
    <label  >password</label>
    <input type="text"  [(ngModel)]="clients.password"  >
 
  </div>
<div >
    <label  >type</label>
    <input type="text"  [(ngModel)]="clients.type"  >
 
  </div>

 
  <button type="button" class="btn btn-primary" (click)="updateClientController()">Submit</button> -->




  <div class="row">
    <div class="col">
      <div class="container">
        <div class="container">
          <div class="card" style="width: 30%  ; height: 10%; margin-left: 30%; ">
            <h5 class="card-title" style="margin-left: 2%; text-align: center;">Update Compte :</h5>
            <div class="card-body" style="width: 90%;margin-left: 5%; margin-top: 2%;">
              <div class="row">
                <div >
                  <label  >nom</label>
                  <br>
                  <input type="text"  [(ngModel)]="clients.nom"  >
               
                </div>
              <div >
                  <label  >telephone</label>
                  <input type="text"  [(ngModel)]="clients.telephone"  >
               
                </div>
              <div >
                  <label  >password</label>
                  <input type="text"  [(ngModel)]="clients.password"  >
               
                </div>
              <div >
                  <label  >type</label>
                  <br>
                  <input type="text"  [(ngModel)]="clients.type"  >
               
                </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="updateClientController()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>