

<div >
    <table class="table">
        <thead>
          <tr>

            <th scope="col">fullname</th>
            <th scope="col">email</th>
            <th scope="col">classe</th>
            <th scope="col">action</th>
          </tr>
          <tr *ngFor="let i of eleve ">

            <td>{{i.fullname}}</td>
            <td>{{i.email}}</td>
            <td>{{i.classe.name}}</td>
            <td>
              <a (click)="updateEleve()"><i class="bi bi-pencil-square" style="color: blue; font-size: 25px;margin-right: 20px;"></i></a>
              <a (click)="deleteEleve(i._id)" ><i class="bi bi-trash-fill" style="font-size: 25px; color: red;margin-right: 20px;"></i></a>
         
            </td>

           
            

          </tr>
        </thead>

      </table>
    </div>


<form [formGroup]="formulaire"  (ngSubmit) = "conditionEleve()"  >
    <input type="text" placeholder="fullname" class="formControl" formControlName="fullname">
    <input type="text" placeholder="email" class="formControl" formControlName="email">
    <select class="form-select" formControlName="classe">
      <option value="" disabled>choisir classe</option>

      <option *ngFor="let c of classe" value="{{c._id}}">{{c.name}}</option>
    </select>




                      <button type="submit" class="button" >add Eleve</button>
  </form>
