
<div class="page">
    <div class="sidebar">
     <h2>Etablissement Scolaire</h2>
      <hr>
     <ul class="links">

      <li routerLinkActive="active"><a routerLink="/admin/dash">Dashbord</a></li>
      <li routerLinkActive="active"><a routerLink="/admin/adm">Adminestration</a></li>

      <li routerLinkActive="active"><a routerLink="/admin/prof">professeur</a></li>
      <li routerLinkActive="active"><a routerLink="/admin/matiere">matiere</a></li>
      <li routerLinkActive="active"><a routerLink="/admin/eleve">Etudiant</a></li>
      <li routerLinkActive="active"><a routerLink="/admin/classe">Classe</a></li>

      <li routerLinkActive="active"><a routerLink="/admin/emploi">Emploi</a></li>



     </ul>
    </div>

  </div>
