<div class="login-box">
  <h2>Login Livreur</h2>
  <form>
    <div class="form-group">
      <input type="email" class="form-control form-control-user" name="sd" [(ngModel)]="telephone"
        id="exampleInputtelephone" aria-describedby="emailHelp" placeholder="telephone">
    </div>
    <div class="form-group">
      <input type="password" class="form-control form-control-user" name="sd" [(ngModel)]="password"
        id="exampleInputPassword" placeholder="Mot de passe">
    </div>
    <a class="btn btn-primary btn-user btn-block" (click)="loginLivreurController(telephone,password)" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>