
<div class="row">
  <div class="col">
    <div class="container">
      <div class="container">
        <div class="card" style="width: 30%  ; height: 10%; margin-left: -5%; ">
          <h5 class="card-title" style="margin-left: 2%;">Remplir Le Formulaire :</h5>
          <div class="card-body" style="width: 90%;margin-left: 5%; margin-top: 2%;">
            <div class="row">
              <div>
                <label>date_achat :</label>
                <br>
                <input type="date" [(ngModel)]="addCommande.date_achat">
              </div>
              <div>
                <label>date_livraison :</label>
                <br>
                <input type="date" [(ngModel)]="addCommande.date_livraison">

              </div>
              <div>
                <label>adresse :</label>
                <input type="text" [(ngModel)]="addCommande.adresse">
              </div>
              <div>
                
                <div class="form-group">
                  <label>type_payement :</label>
                  <select class="form-select" aria-label="Default select example"  type="text" [(ngModel)]="addCommande.type_payement"  placeholder="type"  > ->
                      <option value="sur plase">Sur Plase</option>
                      <option value="avec carte">Avec Carte</option>
                    
                    </select>
                  
              </div>
                <div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label> Produit :</label>
                        <select class="form-select" aria-label="Default select example"  [(ngModel)]="lignecmds.produitId"  >
                          <option  *ngFor="let produit of listProduit " (click)="ajout()" [ngValue]="produit.id">
                            {{produit.type}} </option>
                            
                          </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>nombre :</label>
                      <input name="Quantite" type="number" class="form-control" [(ngModel)]='lignecmds.quantite'>
                    </div>

                    <button class="btn btn-primary"  (click)="ajout2()">push</button>
           

                </div>
              </div>
            </div>
          </div>
        </div>

       

<app-commande></app-commande>

