<!--
Template de Professeur -->
<div class="text-right">

</div>
<table class="table">
    <thead >
      <h3>Liste de Prof</h3>
      <tr>
        <th scope="col">nom & prenom</th>
        <th scope="col"> email </th>
        <th scope="col">specialite</th>
        <th scope="col">matiere</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of profs ,let i=index">

        <td>{{ u.fullname }}</td>
        <td>{{ u.email}}</td>
        <td>{{ u.specialite}}</td>
        <td>{{u.matiere?.name}}</td>


     <td>
       <a (click)="updata(u)"><i class="bi bi-pencil-square" style="color: blue; font-size: 25px;margin-right: 20px;"></i></a>
       <a (click)="openDelete(deleteModal,u._id!)"><i class="bi bi-trash-fill" style="font-size: 25px; color: red; margin-right: 20px;"></i></a>


      </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary"  (click)="openAjoutModel()">
    ajouter un professeur
    </button>
  <br><br>  <br><br>  <br><br>




<!--.modal modifier prof-->
<div class="modal fade" tabindex="-1" id="monModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modalCenter">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier le professeur</h5>
        <button type="button" class="close" data-dismiss="modal">

        </button>
      </div>
      <div class="modal-body">


          <div class="form-wrap">
              <div class="tabs">
                  <h3 class="signup-tab"><a class="active"></a></h3>

              </div><!--.tabs-->

              <div class="tabs-content" >
                  <div id="signup-tab-content" class="active">
                    <form [formGroup]="formulaire" (ngSubmit) = "conditionProf()">
                      <input type="text" class="form-control"  autocomplete="off" placeholder="nom" formControlName="fullname" >
                      <input type="text" class="form-control" id="course" autocomplete="off" placeholder="email" formControlName="email">

                      <select class="form-select" aria-label="Default select example" formControlName="specialite">

                          <option value="Informatique">Informatique</option>
                          <option value="Français">Français</option>
                          <option value="Arabe">Arabe</option>
                          <option value="Sports">Sports</option>
                          <option value="Math">Math</option>
                          <option value="sciences">sciences</option>
                          </select>

                          <select class="form-select" aria-label="Default select example" formControlName="matiere">

                            <option *ngFor="let c of matiere" value="{{c._id}}">{{c.name}}</option>

                            </select>
                      <button type="submit" class="btn btn-success mt-2  text-right" value="">modifier</button>
                      <button type="reset" class="btn btn-secondary mt-2" (click)="closeModle()">Close</button>
                  </form><!--.login-form-->
                      <div class="help-text">

                      </div><!--.help-text-->
                  </div><!--.signup-tab-content-->


              </div><!--.tabs-content-->
          </div><!--.form-wrap-->



      </div>
      <div class="modal-footer">


      </div>
    </div>
  </div>
</div>
<!--.modal ajout prof-->
<div class="modal fade" tabindex="-1" id="Ajoutmodal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modalCenter">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajout professeur</h5>
      </div>
      <div class="modal-body">

          <div class="form-wrap">
              <div class="tabs">
                  <h3 class="signup-tab"><a class="active" ></a></h3>

              </div>

              <div class="tabs-content" >
                  <div id="signup-tab-content" class="active">
                    <form [formGroup]="formulaire" (ngSubmit) = "conditionProf()">
                      <input type="text" class="form-control"  autocomplete="off" placeholder="nom" formControlName="fullname" >
                      <input type="text" class="form-control" id="course" autocomplete="off" placeholder="email" formControlName="email">

                      <select class="form-select" aria-label="Default select example" formControlName="specialite">

                          <option value="Informatique">Informatique</option>
                          <option value="Français">Français</option>
                          <option value="Arabe">Arabe</option>
                          <option value="Sports">Sports</option>
                          <option value="Math">Math</option>
                          <option value="sciences">sciences</option>
                          </select>

                          <select class="form-select" aria-label="Default select example" formControlName="matiere">

                            <option *ngFor="let c of matiere" value="{{c._id}}">{{c.name}}</option>

                            </select>
                      <button type="submit" class="btn btn-success mt-2  text-right" value="">ajouter</button>
                      <button type="reset" class="btn btn-secondary mt-2" (click)="closeModle()">Close</button>
                  </form>
                      <div class="help-text">

                      </div>
                  </div>


              </div>
          </div>



      </div>

    </div>
  </div>
</div>

 <!--       delete popup -->

 <ng-template class="modal fade" let-modal data-toggle="modal" role="deleteModal" #deleteModal >

  <div class="modal-content">
    <div class="modal-header bg-danger">
      <h5 class="modal-title text-white">Supprimer professeur</h5>
    </div>
    <div class="modal-body">

       <h5>Vous etes sure de supprimer cette  professeur</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteprof()" (click)="modal.dismiss()" >Supprimer</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()" >Close</button>

    </div>
</div>
</ng-template>


<!--
Template de Eleve -->

<div class="text-right">

</div>
<table class="table">
    <thead >
      <h3>Liste de Eleve</h3>
      <tr>
        <th scope="col">nom & prenom</th>
        <th scope="col"> email </th>
        <th scope="col">classe</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of eleve ,let i=index">

        <td>{{ e.fullname }}</td>
        <td>{{ e.email}}</td>
        <td>{{ e.classe.name}}</td>



     <td>
       <a (click)="updataElv(e)"><i class="bi bi-pencil-square" style="color: blue; font-size: 25px;margin-right: 20px;"></i></a>
       <button (click)="deleteEleve(e._id)"><i class="bi bi-trash-fill" style="font-size: 25px; color: red; margin-right: 20px;"></i></button>


      </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary"  (click)="openAjoutModelElv()">
    ajouter un Eleve
    </button>
  <br><br>  <br><br>  <br><br>




<!--.modal modifier prof-->
<div class="modal fade" tabindex="-1" id="monModalElv" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modalCenter">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier l'eleve</h5>
        <button type="button" class="close" data-dismiss="modal">

        </button>
      </div>
      <div class="modal-body">


          <div class="form-wrap">
              <div class="tabs">
                  <h3 class="signup-tab"><a class="active"></a></h3>

              </div><!--.tabs-->

              <div class="tabs-content" >
                  <div id="signup-tab-content" class="active">
                    <form [formGroup]="formulaire2" (ngSubmit) = "updateEleve()">
                      <input type="text" class="form-control"  autocomplete="off" placeholder="nom" formControlName="fullname" >
                      <input type="text" class="form-control" id="course" autocomplete="off" placeholder="email" formControlName="email">


                          <select class="form-select" aria-label="Default select example" formControlName="classe">

                            <option *ngFor="let c of classe" value="{{c._id}}">{{c.name}}</option>

                            </select>
                      <button type="submit" class="btn btn-success mt-2  text-right" value="">modifier</button>
                      <button type="reset" class="btn btn-secondary mt-2" (click)="closeModleElv()">Close</button>
                  </form><!--.login-form-->
                      <div class="help-text">

                      </div><!--.help-text-->
                  </div><!--.signup-tab-content-->


              </div><!--.tabs-content-->
          </div><!--.form-wrap-->



      </div>

    </div>
  </div>
</div>
<!--.modal ajout prof-->

<div class="modal fade" tabindex="-1" id="AjoutmodalElv" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modalCenter">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajout Eleve</h5>
      </div>
      <div class="modal-body">

          <div class="form-wrap">
              <div class="tabs">
                  <h3 class="signup-tab"><a class="active" ></a></h3>

              </div><!--.tabs-->

              <div class="tabs-content" >
                <div id="signup-tab-content" class="active">
                  <form [formGroup]="formulaire2" (ngSubmit) = "conditionEleve()">
                    <input type="text" class="form-control"  autocomplete="off" placeholder="nom" formControlName="fullname" >
                    <input type="text" class="form-control" id="course" autocomplete="off" placeholder="email" formControlName="email">


                        <select class="form-select" aria-label="Default select example" formControlName="classe">

                          <option *ngFor="let c of classe" value="{{c._id}}">{{c.name}}</option>

                          </select>
                    <button type="submit" class="btn btn-success mt-2  text-right" value="">ajouter</button>
                    <button type="reset" class="btn btn-secondary mt-2" (click)="closeModle()">Close</button>
                </form><!--.login-form-->
                    <div class="help-text">

                    </div><!--.help-text-->
                </div><!--.signup-tab-content-->


            </div><!--.tabs-content-->
        </div><!--.form-wrap-->



    </div>

  </div>
</div>
</div>
 <!--       delete popup -->

 <ng-template class="modal fade" let-modal data-toggle="modal" role="deleteModalElv" #deleteModalElv >

  <div class="modal-content">
    <div class="modal-header bg-danger">
      <h5 class="modal-title text-white">Supprimer eleve</h5>
    </div>
    <div class="modal-body">

       <h5>Vous etes sure de supprimer cette  eleve</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()" >Close</button>

    </div>
</div>
</ng-template>
