<app-navbar></app-navbar>
<table>
  <tr>
    <td>nom prof:</td>
    <td>{{prof.fullname}}</td>
  </tr>
  <tr>
    <td>matiere:</td>

    <td>{{prof.matiere?.name}}</td>
    
  </tr>
</table>
<form [formGroup]="formulaire" (ngSubmit)="getEleveClasse()">

  <select formControlName="_id">
    <option value="" disabled>choisir classe</option>

    <option *ngFor="let c of classes" value="{{c._id}}">{{c.name}}</option>
  </select>
  <button class="btn btn-primary" (click)="getEleveClasse()">afficher</button>
</form>

<table class="table">
  <thead>

  </thead>
  <tbody>

    <tr>

      <th scope="col">eleve</th>
      <th scope="col">email</th>
      <th scope="col">matier</th>
      <th scope="col">notes</th>


    </tr>

    <tr *ngFor="let n of eleves; index as valIndex;">

      <td>{{n.fullname}}</td>
      <td>{{n.email}}</td>
      {{prof.matiere?.name}}
      <td>{{n.classe.name}}</td>
      <td>{{n.classe._id}}</td>


      <td>

        <button (click)="getnoteeleve(n._id);getnotebymatier(prof.matiere?._id!);openAjoutModel()"> ajouter
  
          note</button>
      </td>
          
      



    </tr>


  </tbody>




  <caption>liste_des_eleves</caption>

  

</table>
<!--.table notes-->

<table class="table">
 
  <tbody>
    <tr>
      <th scope="col">matier</th>
      <th scope="col">eleve</th>
      <th scope="col">note td</th>
      <th scope="col">note tp</th>
      <th scope="col">note sy</th>
      <th scope="col">mention</th>

    </tr>

    <tr *ngFor="let u of notes">

       <td>{{prof.matiere?.name}}</td> 
      <td>{{u.eleve.fullname}}</td>
      <td>{{u.note_td}}</td>
      <td>{{u.note_tp}}</td>
      <td>{{u.note_sy}}</td>
      <td>{{u.mention}}</td>

      </tr>
      
      
        
      
    
  </tbody>
  <caption>liste_notes_eleves</caption>
</table>



<!--.modal modifier prof-->
<div class="modal fade" tabindex="-1" id="monModal" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modalCenter">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">charger une document</h5>

      

        <button type="button" class="close" data-dismiss="modal">

        </button>
      </div>
      <!-- *ngIf=" !submitted" -->
      
      

        <div class="form-wrap">
          <div class="tabs">
            <h3 class="signup-tab"><a class="active"></a></h3>

          </div><!--.tabs-->

          <div class="tabs-content">
            <div id="signup-tab-content" class="active">

          

              <div class="help-text">

              </div><!--.help-text-->
            </div><!--.signup-tab-content-->


          </div><!--.tabs-content-->
        </div><!--.form-wrap-->



      </div>
      <div class="modal-footer">


      </div>
    </div>
  </div>

<!--.modal ajout prof-->
<div class="modal fade" tabindex="-1" id="Ajoutmodal" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modalCenter">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajout Note</h5>
      </div>
      <div class="modal-body">

        <div class="form-wrap">
          <div class="tabs">
            <h3 class="signup-tab"><a class="active"></a></h3>

          </div><!--.tabs-->


          <div class="tabs-content">
            <div id="signup-tab-content" class="active">

              <form [formGroup]="formulaire2" (ngSubmit)="conditionNote()">



                <input type="number" class="form-control" value="{{noteElve.note_td}}" formControlName="noteTd">
                <input type="number" class="form-control" value="{{noteElve.note_tp}}" formControlName="noteTp">
                <input type="number" class="form-control" value="{{noteElve.note_sy}}" formControlName="noteSy">
                <input type="text" class="form-control" value="{{noteElve.mention}}" formControlName="mention">


                <button type="submit" class="btn btn-success mt-2  " (click)="closeModle()">Modifier</button>
                <button type="reset" class="btn btn-secondary ml-2 mt-2" data-dismiss="modal"
                  (click)="closeModle()">Close</button>

              </form>

              <!--.login-form   ********** form to do***********   -->
            



            </div><!--.signup-tab-content-->


          </div><!--.tabs-content-->
        </div><!--.form-wrap-->



      </div>

    </div>
  </div>
</div>


